/Guia7/Guia7EjExtra1/nbproject/private/
/Guia7/Guia7POOEjExtra2/build/
/Guia7/Guia7POOEjExtra1/nbproject/private/
/Guia7POOEjExtra3/nbproject/private/
/Guia7POOEjExtra3/build/
/Guia7/JavaApplication5/nbproject/private/
/Guia7/Guia7POOEjExtra4/nbproject/private/