/Guia5/nbproject/private/
/Guia5/build/
/POOEJ01/nbproject/private/
/MascotaApp/nbproject/private/
/MascotaApp/build/
/POOEJ01/build/
/Guia7/nbproject/private/
/Guia7Ej1/nbproject/private/
/Guia7Ej1/build/
/Guia7POOEj2Circunferencia/nbproject/private/
/Guia7POOEj2Circunferencia/build/