/Guia7/Guia7EjExtra1/nbproject/private/
/Guia7/Guia7POOEjExtra2/build/
/Guia7/Guia7POOEjExtra1/nbproject/private/
/Guia7POOEjExtra3/nbproject/private/
/Guia7POOEjExtra3/build/
/Guia7/JavaApplication5/nbproject/private/
/Guia7/Guia7POOEjExtra4/nbproject/private/
/Guia7POOEjExtra5/nbproject/private/
/Guia7POOEjExtra5/build/
/Guia7/Guia7POOEjExtra5/nbproject/private/
/Guia7/Guia7POOEjExtra5/build/
/Guia7/Guia7POOEj2Circunferencia/nbproject/private/
/Guia7/Guia7POOEj4/nbproject/private/
/Guia7POOEjExtra7/nbproject/private/
/Guia7POOEjExtra7/build/
/Guia7/Guia7POOEjExtra4/build/
/Guia8Ej1/nbproject/private/
/Guia8Ej1/build/
/Guia8Ej2/nbproject/private/
/Guia8Ej2/build/
/Guia8Ej3/nbproject/private/
/Guia7/Guia7POOEj3Operacion/nbproject/private/
/Guia8Ej3/build/
/Guia8 Ej Extra1/nbproject/private/
/Guia8EjExtra1/nbproject/private/
/Guia8EjExtra1/build/
/Guia8EjExtra2/nbproject/private/
/Guia8EjExtra2/build/
/Guia8/Guia8Ej2_Test/nbproject/private/
/Guia8/Guia8Ej2_Test/build/