/* body{
    background: #EB5757;  
    background: -webkit-linear-gradient(to left, #000000, #EB5757); 
    background: linear-gradient(to left, #000000, #EB5757); 
    background-size: contain;
} */
body{
background: #bdc3c7;
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.resultado, .buscar , .lista{
    /* margin-top: 20px; */
    display: flex;
    max-width: 1000px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.buscar label{
    color: #f2f2f2;
}
.buscar button{
    border-radius: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;
    min-height: 300px;
    border-radius: 25px;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 10px black;
}
.card h3{
    font-size: 1.5em;
}
.card h5{
    font-size: 1em;
}
.card img{
    /* max-height: 96px; */
    max-width: 180px;
    min-height: 180px;
    background-color: #f2f2f2;
    border-radius: 25px;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 10px black;
}
.card img:hover{
    transform: scale(1.05);
    transition: transform 0.7s;
    box-shadow: 0px 0px 30px rgb(128, 128, 127);
}
#searchterm{
    border-radius: 25px;
    text-align: center;
}
#botones #menos,
#botones #mas{
    width: 100px;
    border-radius: 25px;
}

#botones #menosdiez,
#botones #masdiez,
#busqueda{
    border-radius: 25px;
}
button:hover{
    transform: scale(1.03);
}