.estiloFooter{
    color: blue;
    font-size: larger;
    font-weight: 800;
}

.estiloMain {
    padding: 10%;
    color: rgb(0, 255, 0);
    font-size: larger;
    font-weight: 800;
}

.imagenCarta {
    width: 250px;
    height: auto;
    align-self: center;
}

.app-logo {
    pointer-events:none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: App-logo-spin infinite 15s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}