h1 {
  text-decoration: underline;
  text-align: center
}

p {
  text-decoration-color: rgb(183, 204, 204);

  background-color: rgb(184, 174, 174)
}

body {
  font-Family: arial, verdana;
  color: black;
  background-color: #f1efef;
  text-indent: 1cm
}

a {
  color: rgb(15, 53, 224)
}

ul {
  text-decoration: none;
  text-indent: 0cm;
  text-transform: capitalize;
}

footer {
  text-align: center;
  /* Centramos el contenido del footer */
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.tagline{
text-align: center;
color: rgb(116, 106, 108);
}

